*~
dvdomatic/tools/test
experimental/ffmpeg-DVD-to-j2c/dvd_to_j2c
.waf-*
.waf3-*
.lock-waf*
core
build
films-*
src/lib/version.cc
*.tar.bz2
*.exe
alignment
sync
doc/manual/html
doc/manual/pdf
doc/manual/extensions.ent
doc/design/*.pdf
doc/design/*.log
doc/design/*.aux
doc/manual/diagrams/*.pdf
doc/manual/diagrams/*.png
doc/manual/colour.pdf
doc/manual/colour.log
doc/manual/colour.aux
.be/id-cache
*.pyc
GPATH
GRTAGS
GSYMS
GTAGS
TAGS
