*~
dvdomatic/tools/test
experimental/ffmpeg-DVD-to-j2c/dvd_to_j2c
.waf-*
.waf3-*
.lock-waf*
core
build
films-*
src/lib/version.cc
*.tar.bz2
*.exe
alignment
sync
doc/manual/html
doc/manual/pdf
doc/manual/extensions.ent
.be/id-cache
*.pyc

