jpegdump
subtitle_alignment/dcp_1/SubsTest1_TST-1_F_XX-EN_2K_*
subtitle_alignment/dcp_1/info
subtitle_alignment/dcp_1/log
subtitle_alignment/dcp_1/video
subtitle_alignment/dcp_2/SubsTest2_TST-1_F_XX-EN_2K_*
subtitle_alignment/dcp_2/info
subtitle_alignment/dcp_2/log
subtitle_alignment/dcp_2/video
subtitle_alignment/dcp_3/SubsTest3_TST-1_F_XX-EN_2K_*
subtitle_alignment/dcp_3/info
subtitle_alignment/dcp_3/log
subtitle_alignment/dcp_3/video
subtitle_alignment/dcp_4/SubsTest4_TST-1_F_XX-EN_2K_*
subtitle_alignment/dcp_4/info
subtitle_alignment/dcp_4/log
subtitle_alignment/dcp_4/video
