body {
    font-family: luxi sans, sans-serif;
    margin-left: 4em;
    margin-right: 4em;
    margin-top: 1em;
    margin-bottom: 1em;
    background-color: #C7DFF9;
}

div.sidebar {
    margin-left: 1em;
    margin-right: 1em;
    padding-left: 1em;
    padding-right: 1em;
    border-color: #000000;
    border-width: 2px;
    border-style: solid;
    background-color: #0E9E75;
}
